body {
    background-color:beige;
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #e8d6c8;
    margin: auto;
    max-width: 1000px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* logo */

.logo a {
    text-decoration: none;
    font-size: .9em;
    color: black;
    
}

.logo1 {
    margin:-40px 0 0 18%;
    font-size: 1.4em;
}

.zuri {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10%;
    padding-top: 20px;
}

/* head */

.stev {
    float: right;
    border-radius: 50%;
    margin:-75px 10% 0 0;

}

.head {
    margin-top: 70px;
    line-height: 2px;
    margin-left: 10%;
}

#head {
    font-size: 12px;
}



/* objective */

.objective {
    margin: 40px 10% 0 10%;
}


/* work */
.work {
    margin: 40px 10% 0 10%;
}


#work {
    margin-top: -20px;
    font-size: 18px;
    color: #264045;
}

.cwork {
    margin-top: 10px;

}


/* academic */
.academic {
    margin: 40px 10% 0 10%;
}

h1 {
    background-color: #264045;
    color: ivory;
    text-transform: uppercase;
    font-size: 1.5em;
}


#edu {
    margin-top: -15px;
    padding-bottom: 40px;

}



@media only screen and (max-width: 600px) {

    body {
    background-color:beige;
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
  }

  .logo1 {
    margin:-40px 0 0 15%;
    font-size: 1.4em;
    display: none;
}

   h2 .name {
       font-size: 24px;
       line-height: 25px;
       
   }

   .stev {
    display: none;
    margin-top: -60px;
    border-radius: 50%;
    align-self: center;
   }

   .address {
       line-height: 10px;

   }

   .head {
    margin-top: px;
    line-height: 25px;
    margin-left: 10%;
   }

   h2 {
       display: grid;
   }

}

